<div class="row">
	<div class="card large">
		<div class="section title">Appointment</div>
		<div class="section">
			<p>Patient: <%- lname %>, <%- fname %></p>
			<p>Date: 4/20/22 at 2:00pm</p>
			<p>Reason: <%- reason ?? 'No reason given.' %></p>
		</div>
	</div>
</div>