<!DOCTYPE html>
<html>
<head>
	<title><%- (typeof title === 'undefined') ? 'Client Portal' : title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
</head>
<body>
<header>
  <a href="/" class="button">Client Portal (Prototype)</a>
  <% if (typeof auth !== 'undefined') { %>
  <a href="/" class="button">dashboard</a>
  <a href="/logout" class="button">logout</a>
  <% } %>
</header>