<div class="row">
	<div class="col-sm button"><a href=""><%- incident_num %></a></div>
	<div class="col-sm button"><a href="">Resolve</a></div>
	<div class="col-sm button"><a href="">Reject</a></div>
</div>