<%- include('_head', { title: "Dashboard" }) %>
<div class="container">
	<div class="col-sm-8 col-sm-offset-2 rounded" style="background-color: #CCCCCC !important;">
		<div class="container" style="height: 360px">
			<div class="row">
				<div class="col-sm" style="height: auto; padding: 6px 12px; margin: 12px 0px; background-color: #DDDDDD;">John: Hey, when is my appointment</div>
			</div>
		</div>
		<div class="row fluid">
			<div class="col-sm"><input style="width: 98.5%;" type="text" placeholder="Enter text here"></div>
		</div>
		<div class="row">
			<div class="col-sm button"><a href="/doctor">Back</a></div>
		</div>
	</div>
</div>
<%- include('_tail') %>