<%- include('_head', { title: "Patient Info" }) %>
<div class="container">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<%- include('_patient-info') %>
		</div>
	</div>
</div>
<%- include('_tail') %>