<%- include('_head', { title: "Dashboard" }) %>
<div class="container">
	<div class="col-sm-8 col-sm-offset-2 rounded" style="background-color: #CCCCCC !important;">
		<div class="row">
			<div class="col-sm button"><a href="">Request 1</a></div>
			<div class="col-sm button"><a href="">✔</a></div>
			<div class="col-sm button"><a href="">✖</a></div>
		</div>
		<div class="row">
			<div class="col-sm button"><a href="">Request 2</a></div>
			<div class="col-sm button"><a href="">✔</a></div>
			<div class="col-sm button"><a href="">✖</a></div>
		</div>
		<div class="row">
			<div class="col-sm button"><a href="">Request 3</a></div>
			<div class="col-sm button"><a href="">✔</a></div>
			<div class="col-sm button"><a href="">✖</a></div>
		</div>
		<div class="row">
			<div class="col-sm button"><a href="/doctor">Back</a></div>
		</div>
	</div>
</div>
<%- include('_tail') %>